* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #f0f8ff;
}

:root {

}

body {
  background: rgb(240,240,255);
  background: linear-gradient(90deg, rgb(214, 214, 238) 0%, #9595d6 30%, rgba(223,250,255,1) 100%);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}

aside {
  position: relative;
  text-align: center;
  width: 40%;
  min-width: 40%;
  height: 100%;
  margin-right: auto;
  box-shadow:  -29px 29px 58px #61618b,
             29px -29px 58px #c9c9ff;
}
h1 {
  font-family: 'Quicksand', system-ui, sans-serif;
  position: absolute;
  z-index: 3;
  color: #f0f8ff;
  font-size: clamp(2rem, 5.6vw, 8rem);
  top: 57%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
}
aside > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  filter: invert(38%) sepia(24%) saturate(455%) hue-rotate(191deg) brightness(97%) contrast(92%);
}

aside > .logo {
  width: clamp(6rem, 9.7vw, 10vw);
  height: auto;
  z-index: 2;
  height: auto;
  object-fit: contain;
  position: absolute;
  top: 45%;
  left: 43.6%;
  filter: invert(100%) sepia(32%) saturate(4246%) hue-rotate(178deg) brightness(108%) contrast(102%);
  transform: translate(-50%,-50%);
}
.strip {
  top: 48%;
  z-index: 2;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  border-radius: 70px;
  height: clamp(14rem, 24rem, 20vw);
  width: clamp(14rem, 24rem, 20vw);
  background-color: rgba(129, 129, 207, 0.473);
  box-shadow:  -30px 30px 80px #6b6b9c,
             30px -30px 80px #9898cc;
  backdrop-filter: blur(2px);
}
.stripform {
  top: 79%;
  z-index: 2;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  height: max(10vh, 24%);
  width: 100%;
  background-color: #a5a5e0ab;
  box-shadow:  -30px 30px 80px #6060976e,
             30px -30px 80px #9898cc91;
  backdrop-filter: blur(2px);
}

main {
  position: relative;
  width: 100% ;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 3rem;
  padding-bottom: 4vh;
  z-index: 3;
  text-shadow: 0 0 5px #b6b6e2;
  font-family: 'Quicksand';
}
form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  width: 70%;
  height: 65%;
  border-radius: 70px;
  background: linear-gradient(225deg, #6666c9, #56567a);
  box-shadow:  -35px 35px 70px #7979ad,
             35px -35px 70px #b6b6e2;
  overflow: hidden;
}
.fieldname {
  z-index: 3;
  display: flex;
  gap: 5vw;
  padding-bottom: 2rem;
}

.fname > label {
  font-size: clamp(.8vw,1.1rem,50%);
  font-weight: 700;
  font-family: 'Quicksand';
  letter-spacing: 2px;
}

.fname > input {
  color: #2c2c4b;
  font-family: 'Quicksand';
  padding: 5px;
  width: 15vw;
  height: 1.8vw;
  border-radius: 5px;
  border: 2px solid #f0f8ff ;
  font-size: clamp(1rem,1.3rem,100%)
}
.fname > input:invalid {
  border: 2px solid #c5431b ;
  box-shadow: 0 0 5px #2c2c4b;
}

.buttons {
  height: 100%;
  width: 100%;
  z-index: 3;
  display: flex;
  padding: 0 3.7vw;
  align-items: center;
  justify-content: space-around;
}

.buttons > button {
  font-family: 'Quicksand';
  font-size: clamp(1vw,1.8rem,2rem);
  border-radius: 20px;
  border: none;
  height: 60%;
  width: 35%;
  background: linear-gradient(225deg, #6868a1, #7a7acf);
  box-shadow:  -10px 10px 40px #65658a,
             10px -10px 40px #a0a0d4;
}
.buttons > p {
  font-family: 'Quicksand';
  font-size: clamp(1.2vw,1.8rem,50%);
  text-align: right;
}

#errorpassword {
  font-size: clamp(.8vw,1rem,50%);
}
#info{
  position: absolute; 
  top: 92%;
  z-index: 2;
  left: 74%;
  transform: translate(-50%,-50%);
  text-align: right;
}

#info > p {
  font-family: 'Quicksand';
  color: #2c2c4b;
  font-size: 1rem;
  line-height: 2.2vh;
}

.buttons > button:hover {
  transition: .01s ease-in-out;
  transform: scale(1.02);
  box-shadow:  -10px 10px 40px #6d6d8f,
             10px -10px 40px #9696c9;
}

.buttons > button:active {
  transition: .01s ease-in-out;
  transform: scale(.98);
}